<div class="login-box">
    <form class="login-form">Login
        <div>
            <label for="email">Email Address</label>
            <div>
                <input class="input" type="text" name="email" id="email" placeholder="Email Address" />
            </div>
        </div>
        <div>
            <label for="password">Password</label>
            <div>
                <input class="input" type="password" name="password" id="password" />
            </div>
        </div>
        <div>
            <form class="control signup-form">
                <button id="login-btn" type="submit">Login</button>
            </form>
        </div>
        <a href="/signup">Don't have an account? Sign up here</a>

    </form>
</div>