<div class="signup-box">
    <form class="signup-form">Signup
        <div>
            <label for="firstName">First name</label>
            <div>
                <input class="input" type="text" name="firstName" id="firstName" placeholder="firstName Address" />
            </div>
        </div>
        <div>
            <label for="lastName">Last name</label>
            <div>
                <input class="input" type="lastName" name="lastName" id="lastName" />
            </div>
        </div>
        <div>
            <label for="email">Email Address</label>
            <div>
                <input class="input" type="text" name="email" id="email" placeholder="Email Address" />
            </div>
        </div>
        <div>
            <label for="password">Password</label>
            <div>
                <input class="input" type="password" name="password" id="password" />
            </div>
        </div>
        <div>
            <form class="control signup-form">
                <button id="signup-btn" type="submit">Signup</button>
            </form>
        </div>

    </form>
</div>